body {
    font-family: 'Lato', 'Open Sans', sans-serif;
    font-weight: 900;
    margin: 0;
    text-decoration: none;
    outline: none;
}

.container {
    display: grid;
    grid-template-rows: 38px auto;
}

.top-nav {
    background: #350d36;
    font-weight: 900;
}

.workspace-primary {
    background: #fff;
}

.workspace-primary__header {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 16px 0 8px;
    border-bottom: 1px solid #E2E2E2;
}

.workspace-secondary {
    background: #fff;
}

.workspace-secondary__header {
    height: 64px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E2E2E2;
}

.button__unstyled {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    line-height: inherit;
    overflow: initial;
    padding: 0;
    text-align: initial;
    vertical-align: initial;
    cursor: pointer;
}

.channel-sidebar {
    background: #3F0E40;
}

.channel-sidebar__block {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #532753;
    color: #BCABBC;
    padding: 10px 0 10px 0;
    font-size: 15px;
    line-height: 28px;
}

.channel-sidebar__team-name-text {
    display: block;
    color: white;
}

.channel-sidebar__team-name-text::after {
    font-size: 20px;
    content: "\E252";
}

.channel-sidebar__user-name {
    font-size: 13px;
}

.channel-sidebar__user-name-text::before {
    font-size: 16px;
    color: #2bac76;
    content: "\E506";
}

.channel-sidebar__messages::before {
    font-size: 16px;
    color: #2bac76;
    content: "\E515";
}

.user_name_emoji {
    padding-left: 4px;
    height: 16px;
    width: 16px;
}

.channel-sidebar__user-name-text:hover {
    color: white;
}

.channel-sidebar__header-info {
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    padding: 0 16px 0 19px;
}

.channel-sidebar__new-message {
    border: 1px solid #3f0e40;
    border-radius: 100%;
    fill: #3F0E40;
    top: 14px;
    height: 36px;
    width: 36px;
}

.channel__active {
    background-color: rgb(17, 100, 163);
    color: white;
}

.svg-icon {
    width: 20px;
    height: 20px;
}

.channel-sidebar__plus {
    display: flex;
    justify-content: space-between;
}

.plus {
    font-size: 30px;
    margin-right: 16px;
}
.channel-sidebar__button {
    font-size: 16px;
    padding: 0 16px 0 19px
}

.channel-sidebar__button:hover {
    background: #350D36;
}

::before, ::after {
    font-family: Slack v2, serif;
    font-weight: 500;
    padding-right: 5px;
}

:focus {
    outline: none;
}

.channel-sidebar__threads::before {
    content: "\E171";
}

.channel-sidebar__activity::before {

    content: "\E009";
}

.channel-sidebar__people::before {

    content: "\E017";
}

.channel-sidebar__apps::before {

    content: "\E00A";
}

.channel-sidebar__files::before {

    content: "\E107";
}

.channel-sidebar__show-less::before {

    content: "\E264";
}

.channel-sidebar__show-less:hover {

    color: white;
}

.channel-sidebar__channels::before {

    content: "\E271";
}

.channel-sidebar__channel__sealed::before {
    padding-right: 0;
    content: "\E567";
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.top-nav__search {
    display: flex;
    padding: 0 8px;
    border: 1px solid #684a68;
    border-radius: 6px;
    flex-grow: 1;
    justify-content: space-between;
    font-size: 14px;
    color: #d9d2da;
}

.top-nav__search:hover {
    color: white;
    border: 1px solid #9A869B;
}


.top-nav__button {
    color: white;
    padding-right: 16px;
    padding-left: 32px;
    min-width: 128px;
    text-align: end;
    flex-grow: 1;
}

.top-nav_help {
    color: white;
    padding-right: 16px;
    padding-left: 32px;
    min-width: 128px;
    text-align: end;
    flex-grow: 1;
}

.icon {
    display: inline-block;
    font-family: Slack v2, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    color: #d7cfd7;
}

.icon_clock::before {
    content: "\E079";
}

.icon_clock:hover {
    color: white;
}

.icon_search::before {
    content: "\E01B";
}

.icon_help::before {
    content: "\E211";
}

.icon_help:hover {
    color: white;
}

